/* GENERAL SETTINGS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 100vh;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
strong,
span,
label,
h1,
h2,
h3,
li,
a {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

.lg-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.col-2 {
  width: calc((100% / 12) * 2);
}

.col-4 {
  width: calc(((100% / 12) * 4) - 35px);
}

.col-5 {
  width: calc((100% / 12) * 5);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-7 {
  width: calc((100% / 12) * 7);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-12 {
  width: calc((100% / 12) * 12);
}

.flex {
  display: flex;
}

.btn {
  background-color: var(--brand-color);
  color: white;
  padding: 5px 15px;
  border-radius: 2px;
  border: 0px;
  font-weight: normal;
  cursor: pointer;
  transition: 0.3s all;
  text-align: center;
  vertical-align: center;
}

.btn:hover {
  background-color: #4489f8;
}

.main-btn {
  width: 200px;
  padding: 12px 8px;
}

.flex-grow {
  flex-grow: 1;
}

:root {
  --brand-color: #0061ff;
  --secondary-brand-color: #b4d0e7;
  --text-color: #464646;
}

/* HEADER */

.main-header {
  background-color: rgba(255, 255, 255, 0.945);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 20px 17px;
}

.header-items {
  gap: 40px;
  align-items: center;
  font-weight: 300;
  color: var(--text-color);
}

.header-wrapper img {
  width: 100px;
}

.header-wrapper {
  align-items: center;
  gap: 40px;
}

.header-items li {
  cursor: pointer;
  transition: 0.2s all;
}

.header-items li:hover {
  color: var(--brand-color);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--secondary-brand-color);
}

.hero-container {
  flex-direction: column;
  gap: 50px;
  padding: 90px 20px;
  padding-bottom: 50px;
}

.title-container h1 {
  font-weight: 700;
  font-size: calc(30px + 2vw);
}

.hero-img {
  height: calc(150px + 16vw);
  width: auto;
  margin-bottom: -150px;
}

.brand-container {
  justify-content: space-between;
}

.brand-description {
  flex-direction: column;
  gap: 35px;
}

.brand-description p span {
  font-size: calc(0.9rem + 0.15vw);
}

.fa-arrow-down {
  transform: translateY(25px);
  cursor: pointer;
}

/* PRICE SECTION */

.radio-container label {
  color: var(--text-color);
  font-size: 15px;
}

.plans-section {
  margin-top: 150px;
  padding: 10px;
}

.price-row {
  justify-content: space-between;
}

.plans-section h2 {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 35px;
}

.radio-container {
  display: inline-block;
  margin-right: 18px;
  color: var(--text-color);
  margin-bottom: 40px;
}

.price-card {
  border: 1px solid #d0d0d3;
  border-radius: 3px;
  color: var(--text-color);
}

.plan-type {
  border-bottom: 1px solid #d0d0d3;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.plan-description {
  padding: 35px 30px;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.plan-description li,
.plan-description strong,
.plan-description span,
.plan-description h3 {
  padding: 10px 0px;
}

.plan-description strong {
  display: block;
}

.plan-description .btn {
  margin: 0 auto;
  width: 100%;
  padding: 12px 8px;
  margin-bottom: 40px;
  display: inline-block;
}

.plan-description header h3 {
  font-weight: 600;
  font-size: 26px;
  color: black;
}

.plan-description header strong {
  font-weight: 600;
  color: black;
}

.plan-description header span {
  color: #6b6b6b;
}

.plan-description p {
  max-width: 70%;
}

.plan-description ul li {
  align-items: flex-start;
  gap: 15px;
}

.plan-description section strong {
  font-weight: 600;
  font-size: 15px;
}

.icon-wrapper {
  width: 7px;
}

.buy-now::after {
  content: "";
  display: table;
  border-bottom: 1px solid #d0d0d3;
  margin-top: 55px;
  width: 50px;
}

.buy-now a {
  text-decoration: underline;
  color: var(--brand-color);
  transition: 0.2s all;
}
.buy-now a:hover {
  color: #4489f8;
}

.col-12 .long-price-card {
  border: 1px solid #d0d0d3;
  border-radius: 3px;
  color: var(--text-color);
  margin-top: 40px;
  width: 100%;
  position: relative;
}

.col-12 .long-price-card .main-btn {
  position: absolute;
  width: 236px;
  top: 75px;
  right: 30px;
}

/* PARTNER SECTION */

.partner-section img {
  width: 100%;
}

.partner-section {
  padding: 10px;
  margin: 120px 0px;
}

.partner-container {
  gap: 45px;
}

.partner-text {
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin-top: 60px;
  color: var(--text-color);
  max-width: 300px;
}

.partner-text h2 {
  font-weight: 600;
  font-size: 26px;
  color: black;
}

.partner-text p {
  font-size: 16px;
}

.partner-text .btn {
  font-size: 16px;
  background-color: white;
  border: 1px solid #d0d0d3;
  color: var(--text-color);
  padding: 10px 20px;
}

.partner-text .btn:hover {
  background-color: var(--text-color);
  color: white;
}

/* FUNCTIONS SECTION */

.function-card {
  flex-direction: column;
  gap: 25px;
}

.function-card figure img {
  width: 100%;
}

.functions-section {
  padding: 10px;
}

.functions-container {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 80px;
}

.function-card h3 {
  font-weight: 600;
  font-size: 26px;
  color: black;
}

.function-card p {
  font-size: 16px;
}

.functions-section h2 {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 60px;
}

/* BUSINESS SECTION */

.business-section {
  margin: 120px 0px;
  padding: 10px;
}

.business-section h2 {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 65px;
  max-width: 700px;
}

.business-section a {
  text-decoration: underline;
  color: var(--brand-color);
  transition: 0.2s all;
  cursor: pointer;
  margin-bottom: 50px;
}
.business-section a:hover {
  color: #4489f8;
}

/* IMAGE */

.customers-container figure img {
  width: 45%;
  filter: invert(100%);
}

.customers-container > .flex {
  max-width: 100%;
}

.customers-container .box-company {
  width: 50%;
  height: 50%;
}

.customers-container .designit-company {
  flex-direction: column;
  width: calc(100vh / 12 * 7);
  aspect-ratio: 1 / 1;
  background-color: #f5f5f5;
  padding: 45px;
}

.customers-container .designit-company img {
  width: calc(20% + 10vw);
}

.customers-container .designit-company p,
span {
  color: var(--text-color);
  font-size: calc(9px + 0.4vw);
}

.customers-container .designit-company p {
  margin-bottom: 40px;
}

.customers-container .designit-company p::before {
  content: "";
  display: table;
  width: 110px;
  margin: 40px 0px;
  height: 1px;
  background-color: #d0d0d3;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
}

.box-company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container .designit {
  background-color: #a2d39b;
  border: 15px solid #d1e9cd;
}

.box-container .asu {
  background-color: #61082b;
}

.box-container .uf {
  background-color: #0093ce;
}

.box-container .topps {
  background-color: #ff1c1c;
}

.box-container .world {
  background-color: #d5001f;
}

.box-container .hearst {
  background-color: #b4d0e7;
}

.box-container .lonely {
  background-color: #0d2481;
}

.box-container .clear {
  background-color: #ffd830;
}

.fluid-box {
  background-color: #b4d0e7;
  min-height: 320px;
  padding: 10px;
}

.fluid-box .container {
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.fluid-box .container h2 {
  color: #61082b;
  font-weight: 600;
  font-size: 38px;
  max-width: 500px;
}

.fluid-box .container .btn {
  color: var(--text-color);
  background-color: white;
  padding: 12px 45px;
  font-size: 16px;
}

.fluid-box .container .btn:hover {
  color: white;
  background-color: var(--text-color);
}

/* FAQ SECTION */

.faq-section {
  margin: 150px 0px;
  padding: 10px;
  margin-bottom: 700px;
}

.faq-section h2 {
  margin-bottom: 65px;
  font-weight: 600;
  font-size: 38px;
  color: black;
}

.question-box {
  flex-direction: column;
}

.question-box li {
  gap: 20px;
  font-weight: 600;
  padding: 40px 0px;
  font-size: 15px;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s linear;
  min-height: 0px;
  transition-delay: 50ms;
}

.question-box li:hover {
  min-height: 200px;
}

.question-box li .icon-wrapper {
  transform: translateX(-50px);
  transition: all 0.2s linear;
  transition-delay: 50ms;
}

.question-box li:hover .icon-wrapper {
  transform: translateX(-45px) rotate(0.5turn);
}

.question-box li:not(:nth-child(2n)) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* FOOTER */

footer {
  background-color: #000000;
  color: white;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer-container {
  justify-content: space-between;
  padding: 100px 0px;
}

footer .lg-container:nth-child(1)::after {
  content: "";
  display: table;
  width: 130px;
  transform: translateX(-3px);
  height: 1px;
  background-color: #999999;
}

.footer-box h3,
li {
  font-weight: 600;
}

.footer-box h3 {
  font-size: 28px;
  margin-bottom: 25px;
}

.footer-list {
  gap: 15px;
  flex-direction: column;
}

.lang {
  align-items: center;
  gap: 20px;
  padding: 50px 0px;
}

.lang span {
  cursor: pointer;
}
